<div class="banner">
  <%= image_tag "logo" %>
  <h1>Tastime</h1>
</div>

<div class="banner">
  <%= image_tag "logo" %>
  <h1>Tastime</h1>
</div>


<!-- <div class="chords-dashboard">

</div> -->

<main>

  <div class="chords-banner">
      <% @chords.each do |chord| %>
        <div class="sticker">
          <%= chord %>
        </div>
      <% end %>
  </div>

  <div class="song-card">
    <div class="song-card-header">
      <h1><%= @song.title %></h1>
      <h2>by <%= @song.author %></h2>
      <%= image_tag "logo", class: "song-card-logo" %>
    </div>
    <div class="song-card-content">
      <%= @lyrics.html_safe %>
    </div>
  </div>
</main>





